@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Kode Sendiri */
  .grid-nav {
    display: grid;
    grid-template-areas: "logo auto auto auto cta" "link link link link link";
    grid-template-columns: auto;
  }
  .grit-logo {
    grid-area: logo;
  }
  .grit-link {
    grid-area: link;
  }
  .grit-cta {
    grid-area: cta;
  }

  /* Replace daisyUI */
  .btn {
    @apply rounded capitalize;
  }
}

@layer utilities {
  .fa-hidden {
    --fa-display: none;
  }
  .strong {
    text-decoration: underline blue wavy 2px;
    /* text-underline-offset: 0.3em; */
  }
  [x-cloak] {
    display: none !important;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-space {
    letter-spacing: 0.1em;
  }
}

@media (min-width: 640px) {
  .grid-nav {
    grid-template-areas: "logo link link link cta" "logo link link link cta";
  }
}
